@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

  h1{
  color:#dedede;
  font-size:2.0em;
  font-weight: 500;
  letter-spacing: -1px;
  font-family: Roboto;
}
.my-card {
  --box-shadow-color: #ffffff;
  box-shadow: 1px 1px 1px var(--box-shadow-color);
  margin: 10px;
  border-radius: 10px;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-text-container h1 {
  display: inline-block;
  margin: 0 auto;
}


ion-menu-button {
  font-size: 50px; /* Tamaño del icono */
  width: 50px; /* Ancho del icono */
  height: 50px; /* Altura del icono */
  color: white;
}





ion-content {
  --background: #121112; /* Aquí puedes cambiar el color a tu gusto */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

/* ion-card {
  box-shadow: 0 0 10px #4aea9c;
} */
ion-card-header{
  --background: #46ec9a;
}

ion-card-content{
  --background: #303133;
}

.body{
    font: 62.5% Open Sans, Freesans, sans-serif;
    background: #303133;
}


.login-wrapper{
    margin:10px auto;
    width:325px;
}

ion-row h1{
    color:#dedede;
    font-size:2.8em;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: Roboto;
}

ion-row input{
    border:none;
    margin:0;
}

ion-row .input-row{
    margin:2em 0;
    overflow:hidden;
}

ion-row .icon{
    font-size:1.4em;
    background:#3b3b3b;
    padding:0.8em;
    border-left:4px solid #41ee97;
    color:#e4e9ed;
    float:left;
}

ion-row input[type="email"],ion-row input[type="password"],ion-row input[type="text"], ion-row input[type="number"], ion-row input[type="date"], ion-row input[type="time"]{
    padding:0.8em 0.8em 0.8em 0;
    font-size:1.4em;
    color:#c2c2c2;
    width:275px;
}

ion-row input[type="email"]:focus,ion-row input[type="password"]:focus,ion-row input[type="text"]:focus,ion-row input[type="number"]:focus, ion-row input[type="date"]:focus, ion-row input[type="time"]:focus{
    outline:0;
}

ion-row input[type="submit"]{
    border:none;
    background:#41ee97;
    color:#121112;
    font-size:1.6em;
    padding:0.7em 1.2em;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

ion-row input[type="submit"]:hover {
    background:#3eb16e;
    opacity: 0.8;
}

ion-row .reset{
    margin-left:1em;
    color:#FFFFFF;
    font-size: 1.4em;
}

ion-row .reset a{
    color:#FFFFFF;
}

ion-row .reset a:hover{
    text-decoration: none;
}
