@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

  h1{
  color:#dedede;
  font-size:2.0em;
  font-weight: 500;
  letter-spacing: -1px;
  font-family: Roboto;
}
.my-card {
  --box-shadow-color: #ffffff;
  box-shadow: 1px 1px 1px var(--box-shadow-color);
  margin: 10px;
  border-radius: 10px;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-text-container h1 {
  display: inline-block;
  margin: 0 auto;
}

ion-menu-button {
  font-size: 50px; /* Tamaño del icono */
  width: 50px; /* Ancho del icono */
  height: 50px; /* Altura del icono */
  color: white;
}

fa-icon {
  margin-left:10px;
  font-size: 20px; /* Tamaño del icono */
  width: 20px; /* Ancho del icono */
  height: 20px; /* Altura del icono */
}


ion-searchbar {
  --background: #303133;
  --border-radius: 10px;
  --placeholder-color: #a5a5a5;
  --color: #ffffff;
  --icon-color: #ffffff;
  margin-top: 5px;
}


.table-container {
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px;
}

th {
  background-color: #4aea9c;
  color: #2e2e2e;
}

.tr-second {
  box-shadow: 0px 2px 5px rgb(0, 0, 0);
}


ion-button {
  margin-left: 5px;
  margin-right: 5px;
}
