ion-label {
  font-weight: bold;
}

fa-icon {
  font-size: 30px; /* Tamaño del icono */
  width: 30px; /* Ancho del icono */
  height: 30px; /* Altura del icono */
  display: flex;
  justify-content: center;
  align-items: center;
}



